{% extends "bootstrap/base.html" %}

{% block title %}
    Florence Nightingowl
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top nhs-blue">
        <a class="navbar-brand navbar-text nhs-font" href="{{ url_for('homePage') }}">
            <img src="{{ url_for('static', filename='florence_icon.png') }}" alt="Logo" class="navbar-logo">
            Florence Nightingowl
        </a>
    </nav>
{% endblock %}

{% block content %}
{% endblock %}
