{% extends "base.html" %}

{% block content %}
    <div class="nhs-container">
        <form method="POST" class="form-inline" autocomplete="off">
            {{ form.hidden_tag() }}
            <div class="search-elements">
                {{ form.query(placeholder="Search policy...", value="", class="nhs-input") }}
                {{ form.filter(class="nhs-select") }}
            </div>
            <div class="search-button">
                {{ form.submit(class="nhs-btn") }}
            </div>
        </form>
    </div>
    <div class="main-content">
        <ul>
            {% for result in results %}
            <div class="mft-list-item">
                <li><a href="{{ url_for('policyPage', docId=result._id) }}">{{result.title}}</a></li>
            </div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}