.mft-list-item {
  border: 1px solid black;
  list-style-type: none;
  padding-top: 3px;
  margin-top: 3px;
  border-radius: 5px;
}

.mft-list-item a {
  color: var(--mft-text-header);
  background-color: var(--mft-button-primary);
  text-decoration: none;
}
.mft-list-item a:active {
  color: var(--mft-text-header);
  background-color: var(--mft-button-secondary);
  text-decoration: none;
}